
<div class="row justify-content-center">
    <h1>@Title</h1>
</div>
<br />
<div class="mat-elevation-z20">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <p>
                    Hi team CIB, thanks for the test, I haven't done everthing I should (proper error handling, commenting etc) because I spent most of my time up-skilling my self on Microsofts Blazor (server-side UI rendering on .net Core 3.1 Preview) with a Material desgin look and feel (my fav), and just getting it working took me longe enough, but im happy its somewhat complete.
                </p>
                <p>
                    I used this oppotunity to learn something new and I thank you for that, just don't mind my poor front end skils, lol, enjoy.
                </p>
            </div>
        </div>
        @*<div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            <span>1.1</span>
                        </div>
                        <div class="mat-layout-grid-cell">
                            <span>1.2</span>
                        </div>
                    </div>
                </div>
                <div class="mat-layout-grid-cell">1.2</div>
                <div class="mat-layout-grid-cell">1.3</div>
            </div>*@
    </div>
</div>


@code {
    [Parameter] public string Title { get; set; }


}
