<h3>About the Author</h3>

<div>
    Hi, I am Hloni Matsoso
    <img src="Images/Me.PNG" height="75" width="70"/>
    Cathc me outside... on Linked on <a href="@LinkedInUrl">over here</a>, #SmileyFace
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string LinkedInUrl { get; set; }


}
